mobile/android/wrapper/dists/
mobile/android/native/
mobile/android/caches/transforms-3/fc4895c25e37af43d538cfba1db6142e/transformed/jetified-firebase-measurement-connector-19.0.0-runtime/classes.dex
mobile/android/caches/
mobile/android/.tmp/
mobile/android/daemon/
mobile/android/kotlin-profile/
mobile/android/app/release/
